@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.section {
  padding: 10px;
  margin: 15px;
}

.flex-row{
  display:flex;
   flex-direction:row;
  }

  .small-margin {
    margin: 8px;
  }

  .myFormItem.ant-FormItem {
    margin: 1px;
    padding: 1px;
  }
