@import '~antd/dist/antd.css';
.App {
  text-align: center;
 
}
.container {
  padding-right:0;
  margin-right:auto;

}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
word-break: normal;
font-weight: bold
}



.ant-table table {
font-weight: bold
}



img {
  display: block;
  max-width:300px;
  max-height:220px;
  width: auto;
  height: auto;
}

imgDetail {
  display: block;
  max-width:500px;
  max-height:400px;
  width: auto;
  height: auto;
}

.bold {
  font-weight: bold
}

.headLine {
  text-align: center
}


 .section {
  padding: 5px;
  margin: 10px;
} 

.flex-row{
  display:flex;
   flex-direction:row;
  }

  .content {
    padding: 30px;
    margin: 40px;
  } 

  .myFormItem.ant-FormItem {
    margin: 1px;
    padding: 1px;
  }
